/*This is api-grid/public/style.css file*/


.customTable {
    line-height: 21px;
    font-size: 14px;
}
.customTable span ,
.customTable a {
    font-size: 14px;
}

.customTable .modern-way {
    min-width: 65px;
}

.customTable .dt-search {
    margin-bottom: 16px;
    margin-right: 3px;
}

.customTable div.dtsb-searchBuilder div.dtsb-titleRow {
    height: 28px;
}
.customTable div.dtsb-searchBuilder div.dtsb-titleRow div.dtsb-title {
    padding-top: 0;
    color: #495057;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.001em;
}

.customTable .dt-length, .customTable .dtsb-searchBuilder {
    float: left;
}

.customTable .dtsb-searchBuilder {
    width: auto;
}
.customTable .dt-search {
    float: right;
}
















.badge {
    --tblr-badge-color: #FFF !important;
    color: var(--tblr-badge-color) !important;
}
.width-100 {
    max-width: 100px;
    background: #0a58ca;
}

.text-truncate-three-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.text-truncate-four-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}


.custom-heading {
    max-width: 150px;
    text-wrap: wrap;

    /*// hack!*/
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;

}

td.dtr-control:has(> .custom-heading) {
    white-space: normal;
}
.custom-dtr-data {
    text-wrap: wrap;
    vertical-align: text-top;
    white-space: normal !important;
}
.custom-heading a {
    text-wrap: wrap;
}

li:has(.dtr-data > .custom-dtr-data) {
    display: flex;
    flex-wrap: wrap;
}

table.dataTable>tbody>tr.child span.dtr-title {
    min-width: 190px !important;
    text-transform: capitalize;
}

table.dataTable>tbody>tr.child ul.dtr-details {
    display: block !important;
}

.customTable .dtsb-searchBuilder {
    float: left;
}

.customTable .dt-search {
    float: right;
}
.current.active {
    color: var(--tblr-primary);
}