{# the generic datatables browser for meili and doctrine. for meili, the indexName is the shortName of the class #}
{% extends 'base.html.twig' %}



{% block title %}{{ _self }}{% endblock %}

{% block PAGE_MENU %}
    {% set options = {
        entityClass: class
    } %}

    <twig:menu :type="PAGE_MENU" :caller="_self" :options="options">
    </twig:menu>

{% endblock %}

{% block body %}

    <h1>{{ apiCall }}</h1>
    {{ useMeili ? 'meili' : 'doctrine' }}
    {% set params = useMeili ? {} : {dbIndexName: indexName} %}

    <twig:api_grid
            dom="P<'dtsp-dataTable'rQfti>l"
            :class="class"
            :caller="_self"
            :columns="columns"
            :meili="useMeili"
    >
    </twig:api_grid>
{% endblock %}
